<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.vntoeic.bkteam.vntoeicpro">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk tools:overrideLibrary="android.support.dynamicanimation" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="vocabulary.activity.VocabularyActivity"/>
        <activity android:name="dictionary.DictionaryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

            </activity>

        <activity android:name="part5.Part5Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name="part5.Part5PractiseAcitvity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name="part5.Part5ReviewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity android:name="gamevocabulary.Activity.PracticeActivity"/>
        <activity android:name="gamevocabulary.Activity.LearningActivity"/>
        <activity android:name="listenvocabularry.ListenActivity"/>

        <service android:name="listenvocabularry.service.PlayService"/>
    </application>

</manifest>