<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vntoeic.bkteam.vntoeicpro">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme.NoActionBar">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="dictionary.DictionaryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

            </activity>

        <activity android:name="part5.Part5Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name="supportview.PartPractiseAcitvity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name="supportview.PartReviewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name="part7.Part67Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity android:name="part3.ListeningActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name="supportview.ListenPraticseActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name="feeds.ActivityFeed"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name="feeds.ActivityComment"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity android:name="feeds.ActivityImageComment"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name="feeds.ActivityPost"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name="feeds.ActivitySelectTag"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

    </application>

</manifest>